parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        -
            identifier: shipmonk.deadMethod
            path: src/Entity/*
        -
            identifier: shipmonk.deadMethod
            path: src/Controller/*
        -
            identifier: doctrine.associationType
            path: src/Entity/Participation.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    shipmonkDeadCode:
        detect:
            deadMethods: true
            deadConstants: true
            deadEnumCases: false
        usageProviders:
            symfony:
                enabled: true
                configDir: %currentWorkingDirectory%/config
            doctrine:
                enabled: true
            twig:
                enabled: true
        usageExcluders:
            tests:
                enabled: true
                devPaths:
                    - %currentWorkingDirectory%/tests
